
p, a{
    justify-content: center;
    color: black;
}

#addArticleForm, #main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 100vh;
}

#addArticleForm table{
    width: 80vw;
}

#submit{
    width: 10vw;
}

#article{
    width: 100%;
    height: 50vh;
}

#abstract{
    width: 100%;
    height: 10vh;
}