body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #156082;
}

.login {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1a0293;
    text-align: center;
    border-radius: 10px;

}

#lable-usr{
    color: white;
}

#lable-passwd{
    color: white;
}

.username {
    padding: 5px;
    color: turquoise;
}

.login-btn{
    color: white;
    margin: 15px;
}

#lgn-btn:hover{
    background: #00b7ff;
    color: white;
}

#lgn-btn{
    background: #1a0293;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 96, 130);
    color: white;
    text-align: center;
}