body{
    padding: 0%;
    margin: 0%;
}

nav {
    background-color: #156082;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 20px;
}


a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

ul :hover{
    background-color: gray;
}

.img-first{
    margin-right: 10px;
}

.first-kategorie{
    margin-left: 100px;
}

.img2{
    margin-left: 15px;
    padding: 0px;
}

.img-login{
    width: 30px;
    height: 30px;
}

.img-label{
    color: white;
}

.img2-label{
    margin-left: 1000px;
    padding: 0%;
}

.image-logo{
    width: 30px;
    height: 30px;
}

iframe{
    width: 100%;
    height: 300px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 250px;
    margin: 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .news-article{
    height: 200px;
    width: 200px;
  }

  .news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px;
  }